<div style="height: 100vh;">
    <mat-toolbar>
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm class="menuButton">
                <mat-icon>menu</mat-icon>
            </button>
            <span style="margin-left: 10px;"><a>Desafio Pitang - TCE</a></span>
            <span class="example-spacer"></span>
            
            <div fxShow="true" fxHide.lt-md="true">
                <button mat-flat-button class="icon-right" *ngIf="!(isLoggedIn$ | async)" (click)="login()"> 
                    <span class="labelUsuario">{{nameUserIn$ | async}}</span>
                    <mat-icon>account_circle</mat-icon>
                </button>
                
                <button mat-flat-button class="icon-right" *ngIf="isLoggedIn$ | async" (click)="openMyInformations()"> 
                    <span class="labelUsuario">{{nameUserIn$ | async}}</span>
                    <mat-icon>account_circle</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>    
    <mat-sidenav-container fxFlexFill style="height: 100vh;">
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a routerLink="" mat-list-item (click)="sidenav.close()"><mat-icon>home</mat-icon>Home</a>
                <a routerLink="cars-list" mat-list-item *ngIf="isLoggedIn$ | async" (click)="sidenav.close()"><mat-icon>directions_car</mat-icon>Cars</a>
                <a mat-list-item (click)="login(); sidenav.close()" *ngIf="!(isLoggedIn$ | async)" ><mat-icon>login</mat-icon>Sign in</a> 
                <a mat-list-item (click)="logout(); sidenav.close()" *ngIf="isLoggedIn$ | async" ><mat-icon>logout</mat-icon>Sign out</a>          
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    
</div>
